<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <h1>Reisplanner</h1>
    </header>
    <main>
      <form action="/" method="POST">
        <h2>Op welke dag reis je?</h2>
        <section>
          <select name="days" id="days">
            <% data.forEach(function(item){%>
            <option value="<%-item-%>"><%-item-%></option>
            <%-item-%> <%}) %>
          </select>
        </section>
        <h2>Wanneer reis je?</h2>
        <section>
          <input type="time" name="time" id="time" value="12:00" />
        </section>
        <button onclick="saveValues()">Opslaan</button>
      </form>
    </main>
    <script src="/scripts/script.js"></script>
  </body>
</html>
