<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <main>
      <section class="home">
        <a id="trainWork" href="/trainwork">Reisplanner werk</a>
        <a id="train" href="/train">Reisplanner dagje weg</a>
        <a id="books" href="/books">Boeken reccomondaties</a>
      </section>
    </main>
    <script src="/scripts/script.js"></script>
  </body>
</html>
